#header
  #input-form
    = form_tag root_path, method: 'POST' do
      = label_tag 'url', 'url'
      = text_field_tag 'url', @url

      = button_tag 'shorten'

- if @short_url
  %p#shortenned= link_to @short_url, @short_url
